**/build/
**/out/

/.gradle/

.idea/artifacts/

.idea/dataSources/

.idea/libraries/

.idea/sonarlint/

.idea/dataSources.local.xml

.idea/dataSources.xml

.idea/gradle.xml

.idea/libraries-with-intellij-classes.xml

.idea/workspace.xml

.idea/codeStyles/codeStyleConfig.xml
